.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }



body{
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    
}

canvas{
    border: solid 2px;
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}